* {
    font-family:FontAwesome, JetBrainsMono NerdFont;
    font-size: 12px;

    min-width: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    transition: 150ms;
    min-width: 15px;
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 12px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active{
    background: rgba(0, 0, 0, 0.5);
    min-width: 25px;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}


#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#window,
#workspaces,
#mpd {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 0 10px;
    color: #ffffff;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-radius: 12px;
}

#battery.charging, #battery.plugged {
    background-color: #26A65B;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
}

